<!DOCTYPE html>
<html>
<head>
  <title>Gnosis | Question Paper</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/question.css">
<style>
  .question_paper{
    background-color: rgba(255, 255, 255, 0.287);
   overflow: hidden; 
   text-align: center;
  }
  .question_paper a{
  
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px ;
  padding: auto;
  margin: 0px 2%;
  }

</style>
</head>
<body>
  <div class="div1">
    <a href='home'>Home</a>
    <a href="question">Question Paper</a>
    <a href="entertainment">Entertainment</a>
    <a href="about">About Us</a>
    </div>
<hr>
  <div class="question_paper">
    <a href="question_physics">Physics Q.P</a>
    <a href="question_mathematics">Mathematics Q.P</a>
    <a href="question_computer">Computer Q.P</a>
  </div>
<hr>
<h2 style="text-align:center">Chemistry</h2>
<hr>
<!-- Chemistry Question Paper -->
<div class="row">
  <div class="column">
    <img src="static/image/chemistry/chemistry11.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="static/image/chemistry/chemistry22.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>

  <div class="column">
    <img src="static/image/chemistry/chemistry01.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>

  <div class="column">
    <img src="static/image/chemistry/chemistry02.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
<hr>
  <div class="column">
    <img src="static/image/chemistry/chemistry111.jpg" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
  </div>

  <div class="column">
    <img src="static/image/chemistry/chemistry112.jpg" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
  </div>
</div>
<hr>
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
      <img src="static/image/chemistry/chemistry11.jpg" style="height:50%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
      <img src="static/image/chemistry/chemistry22.jpg"  height="50%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
      <img src="static/image/chemistry/chemistry01.jpg"  height="50%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
      <img src="static/image/chemistry/chemistry02.jpg"  height="50%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
      <img src="static/image/chemistry/chemistry111.jpg"  height="50%">
    </div>

    <div class="mySlides">
      <div class="numbertext">6 / 6</div>
      <img src="static/image/chemistry/chemistry112.jpg"  height="50%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>
    
  </div>
</div>


<!-- Footer -->
<footer>
  Copyright &copy; 2021 | Gnosis 
</footer>
</body>
</html>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
</body>
</html>
